#customer th{
    border-radius:0 0 0 0;
    border: 0;
    font-size: 20;
    cursor: auto;
    background: white;
}
#customer td{
    border: 0;
    text-decoration: none;
    background: white;
}
#customer td:nth-child(1){
    text-align: center;
    text-decoration: none;
    box-decoration-break: none;
    width: 40px;
    padding:0;
}